[submodule "googletest"]
	path = googletest
	url = https://github.com/walkoncross/googletest.git
[submodule "glog"]
	path = glog
	url = https://github.com/walkoncross/glog.git
[submodule "eigen"]
	path = eigen
	url = https://github.com/walkoncross/eigen-git-mirror.git
[submodule "gflags"]
	path = gflags
	url = https://github.com/walkoncross/gflags
